@import "../css/responsive.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* html {
  scroll-behavior: smooth;
} */
:root {
  --font: "Quicksand", sans-serif;
  --font1: "Architects Daughter", cursive;
  --font2: "Nanum Gothic", sans-serif;
}
body {
  background-color: #000;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* banner start */
.banner {
  min-height: 100vh;
  position: relative;
  background: url("https://media.giphy.com/media/l0Iy4cguQsSZzhSj6/giphy.gif")
    center center no-repeat;
  background-size: contain;
}
.banner .upto {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  z-index: 20;
  background-color: #fff;
  margin: 0rem 1rem 1rem 0rem;
}
.upto img {
  height: 100%;
  width: 100%;
}
.massage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(155, 155, 155, 0.7);
  z-index: 10;
  padding: 1.5rem 1rem;
}
.massage h1 {
  font-family: var(--font1);
  text-transform: capitalize;
  color: lightgrey;
}
.massage h3 {
  font-family: var(--font1);
  text-transform: capitalize;
  color: #000;
  font-weight: bolder;
}
.massage h3::before {
  content: open-quote;
}
.massage h3::after {
  content: close-quote;
}
.massage h2 {
  font-family: var(--font1);
  text-transform: capitalize;
  color: lightgrey;
}
/* banner end */

/* css for header */

.heading_mass {
  text-transform: capitalize;
  text-align: center;
  padding: 1.5rem 0rem 2rem;
}
.heading_mass h1 {
  font-family: var(--font1);
  padding: 1.5rem 1rem 0.5rem;
  display: inline-block;
  color: lightgrey;
}
.heading_mass img {
  height: 3rem;
}
/* end of header */

/* start of table of content */
.content_list {
  text-align: center;
  padding: 1.5rem 1rem 4rem;
}
.content_list h3 {
  font-family: var(--font1);
  font-size: 1.8rem;
  text-transform: capitalize;
  color: lightgrey;
}
.space {
  padding: 2rem 0rem;
}
.content_list .btn {
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--font);
  color: #000;
}
/* table of content end  */

/* ####......start of ui graphics......####  */
.ui_graphics {
  padding: 3rem 1.5rem;
  text-align: center;
}
.ui_graphics h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.content {
  padding: 2rem 0rem;
}
.content .row span {
  font-family: var(--font1);
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.content .row h4 {
  font-family: var(--font2);
  color: lightgray;
  line-height: 2rem;
  font-size: 1.2rem;
}
.content .row .btn {
  font-family: var(--font1);
  font-size: 1.3rem;
  font-style: oblique;
  color: #000;
}
.space {
  padding: 1rem 0rem;
}
/* ####.......end of ui graphics.......####  */

/* ####.......fonts start here.....#### */
.fonts {
  padding: 3rem 1.5rem;
  text-align: center;
}
.fonts h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.fonts table tbody th {
  font-family: var(--font1);
}
.fonts table {
  font-family: var(--font2);
}
.fonts table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}
/* ####.......fonts end here......#### */

/* ####....colors start here....##### */
.colors {
  padding: 3rem 1.5rem;
  text-align: center;
}
.colors h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.colors table tbody th {
  font-family: var(--font1);
}
.colors table {
  font-family: var(--font2);
}
.colors table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}

/* ####....colors end here......##### */

/* ###.....icons start here.... */
.icons {
  padding: 3rem 1.5rem;
  text-align: center;
}
.icons h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.icons table tbody th {
  font-family: var(--font1);
}
.icons table {
  font-family: var(--font2);
}
.icons table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}
/* ###.....icons end here.... */

/* ####..... start of favicons here */
.favicons {
  padding: 3rem 1.5rem;
  text-align: center;
}
.favicons h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.favicons table tbody th {
  font-family: var(--font1);
}
.favicons table {
  font-family: var(--font2);
}
.favicons table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}

/* ####..... end of favicons here */

/* ####..... start of icons font */
.icon_font {
  padding: 3rem 1.5rem;
  text-align: center;
}
.icon_font h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.icon_font table tbody th {
  font-family: var(--font1);
}
.icon_font table {
  font-family: var(--font2);
}
.icon_font table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}
.icon_font .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.inner_content .inner_div:nth-child(even) {
  background-color: brown;
}
.inner_content .inner_div:nth-child(odd) {
  background-color: maroon;
}
.inner_div h3 {
  font-size: 1.2rem;
}
.inner_div a .btn {
  font-size: 0.9rem;
}
.inner_content .inner_div {
  font-family: var(--font2);
  text-align: center;
  color: lightgray;
}

/* ####..... end of icons font here */

/* ####..... stock photos start here */
.stock_photo {
  padding: 3rem 1.5rem;
  text-align: center;
}
.stock_photo h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.stock_photo table tbody th {
  font-family: var(--font1);
}
.stock_photo table {
  font-family: var(--font2);
}
.stock_photo table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}
.stock_photo .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.stock_photo .inner_content .inner_div:nth-child(even) {
  background-color: saddlebrown;
}
.stock_photo .inner_content .inner_div:nth-child(odd) {
  background-color: sienna;
}
/* ####..... stock photos end here  */

/* ####..... stock videos start here */
.stock_videos {
  padding: 3rem 1.5rem;
  text-align: center;
}
.stock_videos h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.stock_videos table tbody th {
  font-family: var(--font1);
}
.stock_videos table {
  font-family: var(--font2);
}
.stock_videos table tbody td a .btn {
  font-family: var(--font1);
  font-style: oblique;
}
.stock_videos .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.stock_videos .inner_content .inner_div {
  color: #000 !important;
}
.stock_videos .inner_content .inner_div:nth-child(even) {
  background-color: #deeaee;
}
.stock_videos .inner_content .inner_div:nth-child(odd) {
  background-color: #b1cbbb;
}
/* ####..... stock videos end here  */

/* ####..... stock music start */
.stock_music {
  padding: 3rem 1.5rem;
  text-align: center;
}
.stock_music h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.stock_music .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.stock_music .inner_content .inner_div:nth-child(even) {
  background-color: #6b5b95;
}
.stock_music .inner_content .inner_div:nth-child(odd) {
  background-color: #878f99;
}
/* ####..... stock music end  */

/* start of vectors and clip art */
.vectors_clip {
  padding: 3rem 1.5rem;
  text-align: center;
}
.vectors_clip h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.vectors_clip .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.vectors_clip .inner_content .inner_div:nth-child(odd) {
  background-color: #fee8ef;
  color: #000;
}
.vectors_clip .inner_content .inner_div:nth-child(even) {
  background-color: #316eaa;
}
/* end vector and clip art */

/* ####.... start of image and mock ups */
.product_image {
  padding: 3rem 1.5rem;
  text-align: center;
}
.product_image h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.product_image .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.product_image .inner_div:nth-child(odd) {
  background-color: #222831;
}
.product_image .inner_div:nth-child(even) {
  background-color: #393e46;
}
/* ####.... end of image and mock ups */

/* ####.... html and css template start*/
.html_css_temp {
  padding: 3rem 1.5rem;
  text-align: center;
}
.html_css_temp h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.html_css_temp .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.html_css_temp .inner_content .inner_div:nth-child(even) {
  background-color: #4d2a24;
}
.html_css_temp .inner_content .inner_div:nth-child(odd) {
  background-color: #391715;
}
/* ####.... html and css template end */

/* ####.... css animations start */
.css_temp {
  padding: 3rem 1.5rem;
  text-align: center;
}
.css_temp h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.css_temp .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.css_temp .inner_content .inner_div:nth-child(odd) {
  background-color: #56647f;
}
.css_temp .inner_content .inner_div:nth-child(even) {
  background-color: #4d2a24;
}
/* ####.... css animations end here */

/* ####..... css freamework start here */
.css_framework {
  padding: 3rem 1.5rem;
  text-align: center;
}
.css_framework h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.css_framework .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.css_framework .inner_content .inner_div:nth-child(odd) {
  background-color: #8fa998;
}
.css_framework .inner_content .inner_div:nth-child(even) {
  background-color: #5d4e6d;
}
/* ####..... css framework end here  */

/* ####..... start of javascript animation */
.javascript_animation {
  padding: 3rem 1.5rem;
  text-align: center;
}
.javascript_animation h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.javascript_animation .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.javascript_animation .inner_content .inner_div:nth-child(odd) {
  background-color: #2f2519;
}
.javascript_animation .inner_content .inner_div:nth-child(even) {
  background-color: #4a3f35;
}
/* ####..... end of javascript animation  */

/* ####..... ui components start */
.ui_components {
  padding: 3rem 1.5rem;
  text-align: center;
}
.ui_components h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.ui_components .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.ui_components .inner_content .inner_div:nth-child(odd) {
  background-color: #1b1c25;
}
.ui_components .inner_content .inner_div:nth-child(even) {
  background-color: #1f4068;
}
/* ####..... ui components end here */

/* ####..... react ui start here */
.react_ui {
  padding: 3rem 1.5rem;
  text-align: center;
}
.react_ui h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.react_ui .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.react_ui .inner_content .inner_div:nth-child(odd) {
  background-color: #322f3d;
}
.react_ui .inner_content .inner_div:nth-child(even) {
  background-color: #4b5d67;
}
/* ####..... react ui end here  */

/* ####..... Vue ui start */
.vue_ui {
  padding: 3rem 1.5rem;
  text-align: center;
}
.vue_ui h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.vue_ui .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.vue_ui .inner_content .inner_div:nth-child(odd) {
  background-color: #1b262c;
}
.vue_ui .inner_content .inner_div:nth-child(even) {
  background-color: #0f4c75;
}
/* ####..... Vue ui end here */

/* ####..... angular UI start here */
.angular_ui {
  padding: 3rem 1.5rem;
  text-align: center;
}
.angular_ui h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.angular_ui .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.angular_ui .inner_content .inner_div:nth-child(odd) {
  background-color: #3c2946;
}
.angular_ui .inner_content .inner_div:nth-child(even) {
  background-color: #56556e;
}
/* ####..... angular Ui end here */

/* ####..... svlete ui start */
.svlete_ui {
  padding: 3rem 1.5rem;
  text-align: center;
}
.svlete_ui h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.svlete_ui .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.svlete_ui .inner_content .inner_div:nth-child(odd) {
  background-color: #3b5249;
}
.svlete_ui .inner_content .inner_div:nth-child(even) {
  background-color: #382933;
}
/* ####..... svlete ui end */
/* ####..... design system start  */
.design_system {
  padding: 3rem 1.5rem;
  text-align: center;
}
.design_system h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.design_system .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.design_system .inner_content .inner_div:nth-child(odd) {
  background-color: #8fa998;
  color: #000;
}
.design_system .inner_content .inner_div:nth-child(even) {
  background-color: #b1cbbb;
  color: #000;
}
/* ####..... design system end  */

/* ####..... Online design tools */
.online_design_tools {
  padding: 3rem 1.5rem;
  text-align: center;
}
.online_design_tools h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.online_design_tools .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.online_design_tools .inner_content .inner_div:nth-child(odd) {
  background-color: #393b44;
}
.online_design_tools .inner_content .inner_div:nth-child(even) {
  background-color: #8d93ab;
}
/* ####..... end of Online design tools.  */

/* ####..... start of design software */
.design_software {
  padding: 3rem 1.5rem;
  text-align: center;
}
.design_software h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.design_software .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.design_software .inner_content .inner_div:nth-child(odd) {
  background-color: #43658b;
}
.design_software .inner_content .inner_div:nth-child(even) {
  background-color: #4e89ae;
}
/* ####..... end of design software   */

/* ####..... design inspiration start */
.design_inspiration {
  padding: 3rem 1.5rem;
  text-align: center;
}
.design_inspiration h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.design_inspiration .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.design_inspiration .inner_content .inner_div:nth-child(odd) {
  background-color: #132743;
}
.design_inspiration .inner_content .inner_div:nth-child(even) {
  background-color: #407088;
}
/* ####..... design inspiration end */

/* ####..... image compression start */
.image_compression {
  padding: 3rem 1.5rem;
  text-align: center;
}
.image_compression h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.image_compression .inner_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.2rem;
}
.image_compression .inner_content .inner_div:nth-child(odd) {
  background-color: #4d2a24;
}
.image_compression .inner_content .inner_div:nth-child(even) {
  background-color: #87431d;
}
/* ####..... image compression end  */

/* ####.... others links here */

.others {
  padding: 3rem 1.5rem;
  text-align: center;
}
.others h2 {
  font-family: var(--font1);
  color: lightgray;
  text-transform: uppercase;
  background-color: rgba(155, 155, 155, 0.6);
  display: inline-block;
  padding: 0.4rem 0.5rem;
}
.others .content h4 {
  font-family: var(--font1);
}
.others .content h5 {
  color: lightgray;
  font-family: var(--font2);
}
.about {
  padding: 3rem 2rem;
  text-align: center;
}
.about_details {
  padding: 2rem 1rem;
  width: 50%;
  margin: auto;
}
.about_details img {
  height: 150px;
  width: auto;
  border-radius: 50%;
}
.about p {
  font-family: var(--font);
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}
.about h5 {
  font-family: var(--font1);
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
}
.icons span i {
  padding: 0rem 0.5rem;
  color: #fff;
  font-size: 2.5rem;
}
